
body {
	padding: 0 30px;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background: #cccccc;
}

h1 {
	color: #618AD2;
	text-shadow: 2px 2px 0 #ccc;
}

h2,
h3 {
	color: #618AD2;
}

pre {
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	background: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.header,
.left-colum,
.right-colum,
.footer
{
	margin-bottom:15px;
	padding:10px 5%;
	background:#DFF0D8;
}

.left-colum {
	min-height:100px;
	width:50%;
	background:#FCF8E3;
	float:left;
}

.right-colum {
	min-height:100px;
	width:25%;
	background:#D9EDF7;
	float:right;
}

.content  {	
	border: 1px solid #ccc;
	padding: 0 30px;
	background: white;
	
	margin-left: 220px; 
	margin-right: 220px; 
	padding-bottom: 50px;
	
	border-radius: 10px;
    box-shadow: 0 0 5px #666; 
}

.footer {
		border: 1px solid #ccc;
		padding: 10px 40px;
		background: #618AD2;
		
		margin-left: 220px; 
		margin-right: 220px;
		/* float: bottom;  */
		
		border-radius: 10px;
		box-shadow: 0 0 5px #666; 
		clear:both;
}

.nice-box{
    border-radius:5px;
    box-shadow:1px 1px 2px #ccc;
}

li {
    background:white;
}

/* Контекстные и соседние селекторы */
.shooter-1 .third+li {
    background:red;
}

.shooter-2 .first+li {
    background:red;
}

.shooter-2 .third+li {
    background:yellow;
}

/* Дочерние селекторы */
.places>li>em{
    font-weight:bold;
}

.places>li{
    border-bottom:1px solid #ccc;
}

/* Псевдоклассы */
/* Псевдоклассы (:first-child, :last-child)*/
.target-1 li:first-child{
    background:red;
}

.target-1 li:last-child {
    background:yellow;
} 

/* Псевдокласс :nth-child (:nth-child(2), :nth-child(2n))*/

.target-2 li:nth-child(3),
.target-2 li:nth-child(4) {
    background:red;
}

/* Псевдокласс :hover */

table {
	border-collapse:collapse;
}

th{
	padding: 10px;
    border-bottom:1px solid black;
	background:#ccc;
}

td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

tr:hover{
    background:#FCF8E3;
}

strong:hover{
    color:#0088CC;
}

.dinamic-table td>em{
    display:none;
}

/* dinamic-table */
.dinamic-table tr:hover em{
    display:inline;
}

.dinamic-table tr:hover strong{
    color:#0088CC;
}

/* Псевдоклассы для ссылок :link, :visited и :active */
a {
    color:black;
}

a:visited {
    color:#ccc;
}

a:active {
    color:green;
}

/* Псевдокласс :focus */
input:focus{
    border-color:#0088CC;
}

/* Селекторы атрибутов */
input[required] {
    background:#FCF8E3;
}

input[type="password"] {
    background:#F2DEDE;
}

input[type="submit"] {
    border-color:green;
}

/* Селектор по id */
#fullname {
    background:#FCF8E3;
}

#year {
    width:100px;
}

/* Прмер */
/* body{
    width:280px;
    margin:0;
    padding:0;
} */
.shooter-2-1 {
    padding:55px 0;
    background:#FCF8E3;
    border-bottom:1px dashed #ccc;
}
.shooter-2-2{
    padding:55px 0;
    background:#D9EDF7;
}
.target3 {
    margin:0 auto;
    width:200px;
    height:25px;
    padding:10px 15px;
    list-style:none;
    background:white;
    border-radius:2px;
    box-shadow:0 0 3px rgba(0,0,0,0.5);
    overflow:hidden;
}

/*black circle*/
 .target3 li {
    position:relative;
    float:left;
    width:22px;
    height:22px;
    margin-right:20px;
    background:#333;
    border:1px solid black; 
    font-size:0;
    border-radius:50%;
} 

/*collaps*/
 .target3 li:last-child{
    margin-right:0;
}

/*small circle*/
.hitbox {
	width:10px;
    height:10px;
	background:#999;
	margin:6px auto;
	border-radius:50%;
}

.shooter-2-1>.target3>li:first-child>.lever,
.shooter-2-1>.target3>li:nth-child(4)>.lever,
.shooter-2-2>.target3>li:nth-child(2)>.lever,
.shooter-2-2>.target3>li:nth-child(3)>.lever {
	position:absolute;
    top:-2px;
    left:-2px;
	width:26px;
    height:26px;
	background:#f5f5f5;
	border-radius:50%;
    box-shadow:0 0 2px rgba(0,0,0,0.5);
}

 .target3 i{
     position:absolute;
    background:#f5f5f5;
    width:5px;
    height:25px;
    top:12px;
    left:11px;
    box-shadow:
        -1px 15px 2px rgba(0,0,0,0.3),
        1px 15px 2px rgba(0,0,0,0.3);
 }
 
.shooter-2-1>.target3>li:nth-child(2) i,
.shooter-2-1>.target3>li:nth-child(3) i,
.shooter-2-1>.target3>li:nth-child(5) i,
.shooter-2-2>.target3>li:nth-child(1) i,
.shooter-2-2>.target3>li:nth-child(4) i,
.shooter-2-2>.target3>li:nth-child(5) i{
    display:none;
}
