body{
	background-color: #ccc;
}

h1{
	color: #618AD2;
	text-shadow: 2px 2px 0 #ccc;
	text-align: center;
	padding-top: 20px;
}

h2{
	/*font-size: 1.5em;*/
	font-family:Tahoma;
	color: #618AD2;
}

pre{
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	border-radius: 3px;
	padding: 10px;
	font-size: 14px;
	line-height: 20px;
	white-space:pre-wrap;
}

p{
    font-family:Arial;
}

.content{
	padding: 0 30px;
	background-color: white;
	box-shadow: 0 0 5px #666; 
	margin-left: 20%;
	margin-right: 20%;
	padding-bottom: 50px;

}

.bold{
	
	font-weight:bold;
}

.italic{
	font-style:italic;
}

.clr_green{
	color:green;
}

.clr_red{
	color:red;
}

.clr_blue{
	color:rgb(58,135,173);
}

.i-tag{
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	border-radius: 3px;
	color:red;
	padding: 2px;
	font-size: 12px;
}

.under{
    text-decoration:underline;
}
.over{
    text-decoration:overline;
}
.through{
    text-decoration:line-through;
}

.dashed{
    text-decoration:none;
    color:#0088CC;
    border-bottom:1px dashed #0088CC;
}
.dashed:hover{
    border-bottom:none;
}

.low{
    line-height:10px;
}
.high{
    line-height:1.5;
}